.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Inter;
}

    .flex-container h2 {
        font-family: 'Segoe UI', Roboto, sans-serif;
        font-weight: bold;
        font-size: 36px;
    }

.input-field {
    font-size: 18px;
    margin-bottom: 5px;
}