.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Inter;
}

    .flex-container h2 {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .flex-container h3 {
        font-size: 24px; 
        text-align: center; 
        margin-bottom: 20px;
    }

.validation-box {
    background-color: yellow;
    margin: 0px;
}

.validation-errors {
    color: #e50000;
    margin-left: 1.2rem;
    padding-left: 0;
    list-style-type: disc;
}

    .validation-errors li {
        margin-left: 22px;
    }

.input-fields {
    font-size: 18px;
    margin-bottom: 5px;
}
