@page "/"
@inject NavigationManager navManager;

<PageTitle>Home</PageTitle>

<div class="flex-container">
    <FluentCard Style="background-color: white;
                   display: flex;
                   flex-direction: column;
                   justify-content: center;
                   align-items: center;
                   gap: 30px;
                   border-radius: 15px;
                   border: 2px solid black;
                   padding: 50px;
                   max-width: 700px;
                   width: 100%;">

        <h1>Welkom!</h1>

        <div style="display: flex; gap: 10px;">
            <FluentButton Style="width: 250px; height: 100px; font-size: 22px;"
                          OnClick="GoToRegister"
                          Appearance="Appearance.Accent">
                Registreren
            </FluentButton>
            <FluentButton Style="width: 250px; height: 100px; font-size: 22px;"
                          OnClick="GoToMakeAppointment"
                          Appearance="Appearance.Accent">
                Maak afspraak
            </FluentButton>
        </div>
    </FluentCard>
</div>

@code {
    private void GoToRegister()
    {
        navManager.NavigateTo("/register");
    }

    private void GoToMakeAppointment()
    {
        navManager.NavigateTo("/appointment");
    }
}