.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    height: 100%;
    font-family: Inter;
}
