@page "/make-appointment"

<div class="flex-container">
    <h1>Maak uw afspraak!</h1>

    <FluentStack Style="
    display: flex;
    flex-direction: column;
    "
    >
        <p>Voornaam</p>
        <FluentTextField></FluentTextField>

        <p>Achternaam</p>
        <FluentTextField></FluentTextField>

        <p>Email</p>
        <FluentTextField></FluentTextField>

        
    </FluentStack>

</div>

@code {

}
