@using VisitorRegistrationUI.Services
@inherits LayoutComponentBase
@inject AdminService adminService
@inject NavigationManager navManager

<div class="page-background">

    @if (adminService.IsAdminLoggedIn)
    {
        <FluentNavMenu Style="position: fixed;
                          top: 15px;
                          right: 15px;
                          background-color: white;
                          border: 2px solid black;
                          border-radius: 8px;
                          min-width: 150px;
                          max-width: 220px;
                          font-size: 14px;
                          font-family: Inter;
                          box-shadow: 0 2px 8px rgba(0,0,0,0.1);
                          --nav-width: 150px;">
            <FluentNavGroup Style="background-color: white; padding: 10px;" Title="Admin">
                <FluentNavLink Style="padding: 5px; font-size: 14px; " OnClick="GoToDashboard">Dashboard</FluentNavLink>
                <FluentNavLink Style="padding: 5px; font-size: 14px;" OnClick="Logout">Log uit</FluentNavLink>
            </FluentNavGroup>
        </FluentNavMenu>
    }
    else
    {
        <FluentButton Style="position: fixed;
                         top: 15px;
                         right: 15px;
                         font-size: 16px;
                         min-width: 150px;
                         height: 40px;"
                      Appearance="Appearance.Accent"
                      OnClick="GoToLoginPage">
            Login als admin
        </FluentButton>
    }

    @Body

    <FluentDialogProvider />
</div>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await adminService.CheckSession();
    }

    private void GoToLoginPage()
    {
        navManager.NavigateTo("/admin/login");
    }

    private void GoToDashboard()
    {
        navManager.NavigateTo("/admin/dashboard");
    }

    private async Task Logout()
    {
        await adminService.Logout();
        navManager.NavigateTo("/", forceLoad: true);
    }
}
